body{
    background-color: aliceblue;
}

h2{
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(2, 2, 61);
}

#gameBox{
    background-color: rgb(230, 230, 235);
    width: 30%;
    height: 70vh;
    margin: auto;
    padding: 30px
}

#colorDisplay{
    background-color: rgb(2, 2, 56);
    width: 50%;
    height: 50px;
    padding: 50px;
    margin: 50px auto ;
}

#colorDisplay p{
    padding: 0;
    margin: 0;
    color: white;
    font-size: 0.8em;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    line-height: normal;
}
    
#buttons{
    margin-top: 50px;
    padding: 5px;
    margin: auto;
    width: 80%;
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    grid-gap: 10px 10px;
}

.buttonNumber{
    color: white;
    background-color: blue;
    border: none;
}